<!DOCTYPE html>
<html lang='en'>
    <%- include('../partials/head') %>

<body style="background: url('/images/site/checkerboard.jpg') no-repeat center center fixed; background-size: cover; margin: 0; padding: 0;">
    <div id="backgroud"></div>
    <div id='wrapper'>
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>